<h1>Eat Da Burger</h1>

<h2>Burgers just sitting there, waiting...</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I've devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgName">Burger name</label>
    <input type="text" id="burgName" name="burgName">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!!<br>
    <input type="radio" name="devoured" value="0"> Just sittin' there
  </div>

  <button type="submit">Add Da Burger!</button>
</form>