/* * {
    border: 1px solid black;
} */

body {
    background-image: url('./../../img/chalkboard.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(234, 234, 234);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background-image: url('./../../img/cheeseburger24.png');
    background-repeat: no-repeat;
    background-position: 2rem;
    padding: 0.5rem 2rem 0.5rem 4rem;
    overflow: auto;
    margin-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    font-weight: 400;
}

.headline,
.headline h2,
.headline h3 {
    margin-top: 1rem;
}

.burgerImage {
    max-height: 10rem;
}

.undevoured h2,
.devoured h2 {
    text-align: center;
    margin-top: 1rem;
}

.change-devoured {
    float: right;
}

.devouredTable {
    align-content: right;
}

.addBurgerBox {
    margin-top: 2rem;
}

.addBurger {
    border: 3px solid rgba(255, 255, 255, 0.9);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 3rem;
}

.devouredBtns {
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    color: #323c3d;
    padding: 0.5rem 0.5rem;
    font-weight: 400;
}
