<li>
  {{burger_name}}
  <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}
    IT'S EATIN' TIME!
    {{else}}
    So good, I'm gonna   eat it again!
    {{/if}}
  </button>

</li>